@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* These are the tailwind variables I just need to replace the color keyword with bg-b-one or text-b-one*/
@theme{
        /* Light Mode Colors */
        --color-bg-light: #fff;   /* Background */
        --color-text-light: rgb(66, 66, 66); /* Text */
        
        --color-primary-light: #3F5BD9; /* Primary Accent */
        --color-secondary-light: #2A394E; /* Secondary Accent */
      
        /* Dark Mode Colors */
        --color-bg-dark: #000;    /* Background */
        --color-text-dark: rgb(230, 230, 230);  /* Text */

        --color-primary-dark: #3F5BD9; /* Primary Accent */
        --color-secondary-dark: #021526; /* Secondary modern ui color */ 
        --color-hsecondary-dark : #101218; /*except for header and footer*/
        --color-link : oklch(0.809 0.105 251.813);

        /* Text size variables */
        --text-heading-desktop : 36px;
        --text-subheading-desktop : 30px;
        --text-body-desktop : 20px;
        
        --text-heading-mobile: 28px;
        --text-subheading-mobile: 24px;
        --text-body-mobile: 18px;
}