html{
    font-family: barlow, sans-serif;
}
input::placeholder{
    color:grey;
    font-weight: normal;
}
input{
    font-weight: 600;
}
#hamburgerList > a:hover, #learnList > a:hover{
    scale: 1.10;
}

.make-btn{
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.make-input-good input{
    padding: 5px 15px;
    outline: none;
}

.make-radio-good > *{
    padding-left:15px;
    cursor: pointer;
}

.fa-window-close{
    cursor: pointer;
}
main{
    min-height: 85vh;
}