html{
    font-family: barlow, sans-serif;
}
input::placeholder{
    color:grey;
    font-weight: normal;
}
input{
    font-weight: 600;
}
#hamburgerList > a:hover, #learnList > a:hover{
    scale: 1.10;
}

.make-btn{
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.make-input-good input{
    padding: 5px 15px;
    outline: none;
}

.make-radio-good > *{
    padding-left:15px;
    cursor: pointer;
}

.fa-window-close{
    cursor: pointer;
}
main{
    min-height: 85vh;
}

/* loader css */
.loader {
    display: none;
    width: 24px; /* Reduced width */
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
        radial-gradient(farthest-side, #ffcc00 94%, #0000) top/6px 6px no-repeat, 
        conic-gradient(#0000 30%, #00eaff); /* Improved colors */
  
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: l13 250ms infinite linear; /* Faster animation */
}
@keyframes l13 { 
    100% { transform: rotate(1turn); }
}
